[manifest]
version = "1.0.0"
dump_lua = true
priority = -5

## Adds extra easings to the "ease" event type
[[patches]]
[patches.pattern]
target = "engine/event.lua"
pattern = "type = config.ease or 'lerp',"
position = "at"
payload = "type = config.type and string.lower(config.type) or config.ease and string.lower(config.ease) or 'lerp',"
match_indent = true

[[patches]]
[patches.pattern]
target = "engine/event.lua"
pattern = '''if self.ease.type == 'lerp' then
                    self.ease.ref_table[self.ease.ref_value] = self.func(percent_done*self.ease.start_val + (1-percent_done)*self.ease.end_val)
                end
                if self.ease.type == 'elastic' then
                    percent_done = -math.pow(2, 10 * percent_done - 10) * math.sin((percent_done * 10 - 10.75) * 2*math.pi/3);
                    self.ease.ref_table[self.ease.ref_value] = self.func(percent_done*self.ease.start_val + (1-percent_done)*self.ease.end_val)
                end
                if self.ease.type == 'quad' then
                    percent_done = percent_done * percent_done;
                    self.ease.ref_table[self.ease.ref_value] = self.func(percent_done*self.ease.start_val + (1-percent_done)*self.ease.end_val)
                end'''
position = "at"
payload = '''
local c1 = 1.70158
local c2 = c1 * 1.525
local c3 = c1 + 1

assert(SMODS.ease_types[self.ease.type], "Event created with invalid ease type: "..self.ease.type..(self.func and SMODS.log_crash_info(debug.getinfo(self.func), true)))
percent_done = SMODS.ease_types[self.ease.type](percent_done, c1, c2, c3)

self.ease.ref_table[self.ease.ref_value] = self.func(percent_done*self.ease.start_val + (1-percent_done)*self.ease.end_val)'''
match_indent = true

# Fix easing type of splash screen cards (vanilla implementation is broken and always uses 'lerp')
[[patches]]
[patches.pattern]
target = 'game.lua'
match_indent = true
position = 'at'
pattern = '''
ease_value(card.T, 'scale', -card.T.scale, nil, nil, nil, 1.*speed, 'elastic')
'''
payload = '''
ease_value(card.T, 'scale', -card.T.scale, nil, nil, nil, 1.*speed)
'''